<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/indexejs.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>XYZ.com</title>
</head>

<body>
    <%- include('partials/header.ejs') %>;
        <div class="container">
            <div class="row row-persons text-center ">
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="row">
                        <h1><span class="count">40</span></h1>
                    </div>
                    <div class="row">
                        <h1>ABC</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="row">
                        <h1><span class="count">71</span></h1>
                    </div>
                    <div class="row">
                        <h1>YXZ</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="row">
                        <h1><span class="count">33</span></h1>
                    </div>
                    <div class="row">
                        <h1>PQR</h1>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>;
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
            <script src="scripts/indexEjs.js"></script>
</body>

</html>